body{
    font-family: verdana;
    padding: 0;
    margin: 0;
}

#first-bg {
    height: 30em;
   background-image: url("/mountainlake.jpg");
    background-color: rgb(24,29,39);
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding-top: 5em;
}

h2 {
    margin: 0;
    text-align: center;
}

#second-div {
    height: auto;
    background-color: rgb(230,240,220);
}

#second-div p {
    padding: 1em;
    font-size: auto;
    text-align: justify;
}

#second-bg {
    height: 30em;
/*  background-image: url("/sunsetmountain.jpg");*/
    background-color: rgb(24,29,39);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#third-bg {
    height: 50em;
/*  background-image: url("/cityscene.jpg");*/
    background-color: rgb(24,29,39);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topnav li a:hover {
    background-color: rgba(255,255,255,.2);
}

}